*.class

# Package Files #
*.jar
*.war
*.ear

# Bluej, Greenfoot specific
*.ctxt

# Backupfiles
*~
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/MP3PlayerNB/nbproject/private/
/MP3Player-NetbeansGrundlage/MP3PlayerNB/nbproject/private/
/MP3Player-NetbeansGrundlage/MP3PlayerNB/build/